[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=krfb
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_sharemydesktop
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=grundleborg@googlemail.com
X-KDE-PluginInfo-Name=kopete_sharemydesktop
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Share My Desktop
Name[bs]=Dijeli My Desktop
Name[cs]=Sdílet plochu
Name[de]=Meine Arbeitsfläche freigeben
Name[fr]=Partager mon bureau
Name[hu]=Az asztalom megosztása
Name[nl]=Mijn bureaublad delen
Name[pl]=Współdziel mój pulpit
Name[pt]=Partilhar o meu Ecrã
Name[pt_BR]=Compartilhar minha área de trabalho
Name[sk]=Zdieľať moju plochu
Name[sv]=Dela mitt skrivbord
Name[tr]=Masaüstümü Paylaş
Name[ug]=ئۈستەلئۈستىنى ھەمبەھىر قىلىش
Name[uk]=Надання доступу до стільниці
Name[x-test]=xxShare My Desktopxx
Comment=Share your desktop with your instant messaging buddies
Comment[bs]=Dijeli radnu površinu s prijateljma instant poruka
Comment[cs]=Sdílejte plochu se svými kamarády na komunikátoru
Comment[fr]=Partagez votre bureau avec vos ami(e)s de messagerie instantanée
Comment[hu]=Az asztal megosztása az azonnali üzenetküldési partnerekkel
Comment[nl]=Uw bureaublad delen met uw buddies met instant-messaging
Comment[pl]=Współdziel swój pulpit ze znajomymi z komunikatora internetowego
Comment[pt]=Partilhar o seu ecrã com os seus amigos nas mensagens instantâneas
Comment[pt_BR]=Compartilhe sua área de trabalho com amigos de mensagem instantânea
Comment[sk]=Zdieľať vašu plochu s vašimi priateľmi instant messagingu
Comment[sv]=Dela skrivbord med direktmeddelandekompisar
Comment[tr]=Anlık mesajlaşma arkadaşlarınıza masaüstünüzü paylaşın
Comment[uk]=Надати доступ до вашої стільниці вашому співрозмовнику
Comment[x-test]=xxShare your desktop with your instant messaging buddiesxx
