[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=krfb
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_sharemydesktop
X-KDE-PluginInfo-Author=George Goldberg
X-KDE-PluginInfo-Email=grundleborg@googlemail.com
X-KDE-PluginInfo-Name=kopete_sharemydesktop
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Share My Desktop
Name[pt]=Partilhar o Meu Ecrã
Name[pt_BR]=Partilhar o Meu Ecrã
Name[sv]=Dela mitt skrivbord
Name[uk]=Відкрити мою стільницю
Name[x-test]=xxShare My Desktopxx
Comment=Share your desktop with your instant messaging buddies
Comment[pt]=Partilhe o seu ambiente de trabalho com os seus amigos das mensagens instantâneas
Comment[pt_BR]=Partilhe o seu ambiente de trabalho com os seus amigos das mensagens instantâneas
Comment[sv]=Dela ditt skrivbord med direktmeddelandekompisar
Comment[uk]=Відкрити вашу стільницю для ваших співрозмовників у службі обміну повідомленнями
Comment[x-test]=xxShare your desktop with your instant messaging buddiesxx
